<div class="cmsf-logo">
    <a href="{{ link.pages-homepage }}" rel="home">
        {{> atoms-logo }}
        <h3>{{ company.name }}</h3>
        {{!-- Im really not sure which h tag should be here --}}
        {{!-- pattern lab run with h3 so lets try that? --}}
    </a>
</div>

