/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button {
	cursor: pointer;
}

/*------------------------------------*\
    #cmsf
\*------------------------------------*/

button {
    background: var(--cerulean);
    color: whitesmoke;
    border: none;
    border-radius: 8px; // guess and check
    padding-block-start: 0.5rem;
    padding-inline-end: 1rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1rem;
}


