/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	margin-bottom: $spacing;
}

/**
 * Blockquote base styles
 */
/* blockquote {
	font-style: italic;
	border-left: 1px solid $color-neutral-gray-50;
	color: $color-neutral-gray-50;
	padding-left: 1rem;
	margin-bottom: $spacing;
} */

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
	height: 1px;
	background: $color-neutral-gray-50;
	margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
	color: $color-text-highlight;
	background: $color-text-highlight-bg; /* Gecko Browsers */
}

::selection {
	color: $color-text-highlight;
	background: $color-text-highlight-bg; /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */
code {
	display: inline-block;
	background: $color-neutral-gray-02;
	border: 1px solid $color-neutral-gray-13;
	padding: 0.2rem 0.5rem;
	line-height: 1.2;
	font-size: 0.85rem;
}

/**
 * Preformatted text base styles
 */
pre {
	background: $color-neutral-gray-02;
	border: 1px solid $color-neutral-gray-13;
	font-size: $font-size-med;
	padding: 1rem;
	overflow-x: auto;

	/**
	 * Remove border from code within preformatted text block
	 */
	code {
		border: 0;
	}
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
	font-family: monospace !important;
}

/*------------------------------------*\
  #cmsf
\*------------------------------------*/

blockquote {
	font-size: 1.56rem;
	color: var(--maya);
	display: grid;
	margin-block-end: 2rem;
}

@supports not (margin-block-end: 2rem) {
	blockquote {
			margin-bottom: 2rem;
	}
}

blockquote::before {
	content: open-quote;
	padding-inline-end: 1rem;
	grid-row: 1;
	grid-column: 1;
}

@supports not (margin-block-end: 2rem) {
	blockquote::before {
			margin-right: 1rem;
	}
}

blockquote > cite {
	grid-row: 2;
	grid-column: 2;
	// color: revert; // can I do this
	color: black;
	font-size: 1rem;
}